/* colores del logo del itsz */
:root {
  --amarillo: #FFC207;  
  --amarillo-2: #F2B500;
  --amarillo-3: #DFA700;
  --amarillo-4: #CC9900;
  --amarillo-5: #BA8B00;
  --indigo: #530068;
  --black: #242424;
}
/* globales */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: 'Outfit', sans-serif;
  scroll-behavior: smooth;
}
body {
  background-color: #ededed;
}
a {
  color: white;
  text-decoration: none;
}
/* parte del header */
header {
  position: relative;
  padding: 0 0 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: white;
  background-color: var(--amarillo-4);
  height: 60px;
}
header .title__container h1{
  font-size: 4rem;
  font-weight: 700;
}
header .title__container span {
  font-weight: 300;
}
header nav {
  height: 100%;
  display: flex;
  align-items: center;
}
header .menu-mobile {
  display: none;
  margin-right: 15px;
}
header .mobile-options {
  position: absolute;
  left: 0;
  width: 100vw;
  z-index: 2;
  flex-direction: column;
  display: none;
  justify-content: center;
  align-items: center;
  height: 300px;
  top: 100%;
  background-color: var(--amarillo-4);
}
header .mobile-options li {
  margin: 10px;
  list-style: none;
}
header .menu-mobile img{
  width: 25px;
  cursor: pointer;
}
header .menu-mobile .close {
  display: none;
}
/* opciones */
header nav a {
  color: white;
  text-decoration: none;
  font-size: 1.6rem;
  margin: 0 20px;
}
/* parte del main */
/* carrusel de imagenes */
main .images__container {
  width: 100%;
  height: 500px;
  overflow: hidden;
}
main .images__container .carrousel__container {
  position: relative;
}
main .images__container .carrousel__container .image__slider {
  position: absolute;
  inset: 50% 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  object-fit: cover;
  opacity: 0;
  transition: 1s;
  z-index: 1;
  /* height: 100%; */
}
main .images__container .carrousel__container .image__slider.active {
opacity: 1;
}
/* parte de la info */
main .info__container {
  margin: 100px auto;
  padding: 10px;
  max-width: 1400px;
  text-align: center;
}
main .info__container h2 {
  font-size: 3.5rem;
  margin-bottom: 20px;
}
main .info__container p {
  font-size: 1.6rem;
  margin-bottom: 20px;
}
main .grid__container {
  background-color: white;
  max-width: 1400px;
  min-width: 340px;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 20px 5px 20px rgb(182 182 182 / 50%);
}
main .grid__container h2 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 50px;
}
/* parte de los algoritmos */
.grid__container .algoritmo__container {
  margin-bottom: 50px;
}
.grid__container .algoritmo__container h3{
  font-size: 2rem;
  margin-bottom: 15px;
}
.grid__container .algoritmo__container p, .grid__container .algoritmo__container span {
  font-size: 1.6rem;
  color: #626262;
  margin-bottom: 10px;
}
.grid__container .algoritmo__container .result {
  opacity: 1;
  font-weight: 700;
  transition: .3s;
}

.grid__container .algoritmo__container form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.grid__container .algoritmo__container form label {
  margin-bottom: 10px;
}
.grid__container .algoritmo__container form span {
  font-size: 1.6rem;
  color: #626262;
  font-style: italic;
  margin-right: 5px;
}
.grid__container .algoritmo__container form input, .grid__container .algoritmo__container form select, .grid__container .algoritmo__container .input {
  border: solid 2px var(--amarillo-4);
  padding: 5px 10px;
  border-radius: 5px;
  transition: .3s;
  outline: none;
  font-size: 1.4rem;
  color: #626262;
  font-family: 'Outfit', Arial, Helvetica, sans-serif;
}
.grid__container .algoritmo__container form input:focus{
  border: 2px var(--indigo) solid;
  box-shadow: 0px 0px 5px 0px #530068;
}
.grid__container .algoritmo__container form input::placeholder {
  color: #aaa;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.button__form {
  margin-top: 10px;
  margin-bottom: 15px;
  background-color: #039B8E;
  color: white;
  padding: 5px 10px;
  font-size: 1.6rem;
  font-weight: 500;
  font-family: 'Outfit',Arial, Helvetica, sans-serif;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: .3s;
}
.button__form:hover {
  box-shadow: 0px 0px 7px 0px #039B8E;
}
.button__form:active {
  transform: scale(.9);
}
.results__container {
  margin: 0 auto;
  overflow: hidden;
  max-width: 1400px;
  width: 100%;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 350px);
  grid-template-rows: masonry;
  justify-content: center;
  text-align: center;
  gap: 10px;
}
.results__container img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
/* parte del footer */
footer {
  text-align: center;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--black);
}
footer .logo-footer__container img {
  width: 250px;
}
footer a{
  font-size: 1.4rem;
  color: #c8c8c8;
  text-decoration: none;
}
footer h2 {
  color: white;
  margin-bottom: 15px;
}
footer ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}
footer ul li {
  list-style: none;
}

/* animaciones */
a:hover {
  text-decoration: underline;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

  /* media queries */
@media (max-width: 1000px) {
  .title__container h1 span {
    display: none;
  }

  footer {
    flex-direction: column;
  }
  footer ul {
    margin: 20px 0;
  }
  .logo-footer__container a img {
    width: 200px;
  }
}

@media (max-width: 500px) {
  .descripcion__container {
    flex-direction: column;
  }
  main .descripcion__container div {
    margin: 20px 0;
    width: 95%;
  }
  footer ul {
    flex-direction: column;
    margin: 20px 0;
  }
  main .presentacion__container {
    grid-template-columns: 375px;
    grid-template-rows: 100px 41px 1fr;
  }
  main .presentacion__container h2 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  main .presentacion__container aside ul {
    display: flex;
    overflow-x: scroll;
  }
  .menu-desktop {
    display: none;
  }
  header .menu-mobile {
    display: flex;
  }
}